## **Generating Important Business Insights For Bimbo**

By  

Cosme Amaro Bautista  
Diego Alonso Bugarin Estrada  
José Eduardo López Romero  
Santiago Ortiz Pérez  

Rennes School of Business, December 2023

## Project Description

Aqui poner project description.

## Data Description

* X
* Y
* Z

## Libraries Used, Data File Reading and General Information from Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_products = pd.read_csv('data/ags_data_processed.csv', index_col=0)
df_clients = pd.read_csv('data/clients_ags_processed.csv', index_col=0)
df = pd.merge(df_products,df_clients,on='Cliente_ID',how='inner')
df.head(5)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreProducto,NombreProductoCat,Category,Town,Grouped_Demanda,PieceAmount,WeightGrams,NombreCliente,ClientType
0,3,1347,1,900,4711525,1064,8,133.36,0,0.0,8,Panque Marmol 255g BIM 1064,Panque Marmol,59,2251 AGUASCALIENTES NORTE,835,1,255,NO IDENTIFICADO,NI
1,3,1347,1,900,4711525,1146,30,641.70,0,0.0,30,Pan Integral 675g BIM 1146,Pan Integral,69,2251 AGUASCALIENTES NORTE,7449,1,675,NO IDENTIFICADO,NI
2,3,1347,1,900,4711525,1150,18,251.28,0,0.0,18,Medias Noches 8p 340g BIM 1150,Medias Noches,18,2251 AGUASCALIENTES NORTE,7944,8,340,NO IDENTIFICADO,NI
3,3,1347,1,900,4711525,1160,9,169.74,0,0.0,9,Bimbollos 8p 450g BIM 1160,Bimbollos,71,2251 AGUASCALIENTES NORTE,3058,8,450,NO IDENTIFICADO,NI
4,3,1347,1,900,4711525,1169,21,396.06,0,0.0,21,Bimbollos Extra 6p 480g BIM 1169,Bimbollos Extra,75,2251 AGUASCALIENTES NORTE,2640,6,480,NO IDENTIFICADO,NI

In [8]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1264976 entries, 0 to 1264975
Data columns (total 20 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Semana             1264976 non-null  int64
 1   Agencia_ID         1264976 non-null  int64
 2   Canal_ID           1264976 non-null  int64
 3   Ruta_SAK           1264976 non-null  int64
 4   Cliente_ID         1264976 non-null  int64
 5   Producto_ID        1264976 non-null  int64
 6   Venta_uni_hoy      1264976 non-null  int64
 7   Venta_hoy          1264976 non-null  float64
 8   Dev_uni_proxima    1264976 non-null  int64
 9   Dev_proxima        1264976 non-null  float64
 10  Demanda_uni_equil  1264976 non-null  int64
 11  NombreProducto     1264976 non-null  object
 12  NombreProductoCat  1264976 non-null  object
 13  Category           1264976 non-null  int64
 14  Town               1264976 non-null  object
 15  Grouped_Demanda    1264976 non-null  int64
 16  PieceAmount        1264976 non-null  int64
 17  WeightGrams        1264976 non-null  int64
 18  NombreCliente      1264976 non-null  object
 19  ClientType         1264976 non-null  object
dtypes: float64(2), int64(13), object(5)
memory usage: 613.3 MB

Aquí va la interpretación de los datos de arriba.

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Semana,1264976.0,5.918738e+00,2.010769e+00,3.0,4.0,6.0,8.0,9.0
Agencia_ID,1264976.0,1.351024e+03,2.336686e+01,1347.0,1347.0,1351.0,1351.0,1974.0
Canal_ID,1264976.0,1.340101e+00,1.486761e+00,1.0,1.0,1.0,1.0,11.0
Ruta_SAK,1264976.0,1.949981e+03,1.284192e+03,900.0,1255.0,1286.0,2137.0,6652.0
Cliente_ID,1264976.0,1.803228e+06,1.874915e+06,9200.0,417885.0,1118050.0,2368379.0,9741596.0
Producto_ID,1264976.0,1.950575e+04,1.858804e+04,53.0,1240.0,8940.0,37058.0,49992.0
Venta_uni_hoy,1264976.0,7.443712e+00,2.012525e+01,0.0,2.0,3.0,7.0,3219.0
Venta_hoy,1264976.0,6.081281e+01,2.399290e+02,0.0,16.3,28.8,53.9,54247.0
Dev_uni_proxima,1264976.0,1.094740e-01,2.768760e+00,0.0,0.0,0.0,0.0,1410.0
Dev_proxima,1264976.0,9.017072e-01,1.837843e+01,0.0,0.0,0.0,0.0,8812.5
Demanda_uni_equil,1264976.0,7.369994e+00,1.974148e+01,0.0,2.0,3.0,7.0,3191.0
Category,1264976.0,1.580294e+02,1.600215e+02,3.0,71.0,90.0,193.0,1028.0
Grouped_Demanda,1264976.0,1.426059e+04,2.508742e+04,0.0,2591.0,5986.0,12882.0,140989.0
PieceAmount,1264976.0,4.277906e+00,6.756856e+00,0.0,1.0,2.0,6.0,200.0
WeightGrams,1264976.0,1.823409e+02,2.213113e+02,5.0,75.0,106.0,255.0,31000.0

In [10]:
df.describe(include=['object']).T

                     count unique                           top    freq
NombreProducto     1264976    475  Nito 1p 62g Central BIM 2425   58363
NombreProductoCat  1264976    288                         Nito    60659
Town               1264976      2     2251 AGUASCALIENTES NORTE  667740
NombreCliente      1264976   7378               NO IDENTIFICADO  226506
ClientType         1264976     11                    Individual  773418

In [14]:
df.nunique()

Semana                   7
Agencia_ID               5
Canal_ID                 6
Ruta_SAK               275
Cliente_ID           13684
Producto_ID            475
Venta_uni_hoy          628
Venta_hoy            10327
Dev_uni_proxima        118
Dev_proxima           1760
Demanda_uni_equil      625
NombreProducto         475
NombreProductoCat      288
Category               288
Town                     2
Grouped_Demanda       1981
PieceAmount             28
WeightGrams            170
NombreCliente         7378
ClientType              11
dtype: int64

Dropping identifying columns

In [ ]:
df.drop()

Hypthesis

Products with a higher weight are sold more frequently.
Products with a higher amount of pieces are sold more frequently.