In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('data/ags_data_processed.csv', index_col=0)
df_clients = pd.read_csv('data/clients_ags_processed.csv', index_col=0)
df.head(3)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreProducto,NombreProductoCat,Category,Town,Grouped_Demanda,PieceAmount,WeightGrams
0,3,1347,1,900,4711525,1064,8,133.36,0,0.0,8,Panque Marmol 255g BIM 1064,Panque Marmol,59,2251 AGUASCALIENTES NORTE,835,1,255
1,3,1347,1,900,4711525,1146,30,641.70,0,0.0,30,Pan Integral 675g BIM 1146,Pan Integral,69,2251 AGUASCALIENTES NORTE,7449,1,675
2,3,1347,1,900,4711525,1150,18,251.28,0,0.0,18,Medias Noches 8p 340g BIM 1150,Medias Noches,18,2251 AGUASCALIENTES NORTE,7944,8,340

In [14]:
topventas_df = df.groupby('Cliente_ID')['Venta_uni_hoy'].sum().sort_values(ascending=False).head(5)
#convert series to df
topventas_df = pd.DataFrame(topventas_df)
topventas_df.reset_index(inplace=True)

#merge with df_clients to get the names of the clients
pd.merge(topventas_df, df_clients, on='Cliente_ID', how='left')

,Cliente_ID,Venta_uni_hoy,NombreCliente,ClientType
0,653378,250613,PUEBLA REMISION,Individual
1,48213,86090,WAL MART AGUASCALIENTES,Big Store
2,48573,52220,BODEGA AURRERA CONVENCION AGUASCALIENTES,Big Store
3,50156,48586,BODEGA AURRERA SANTA ANITA,Big Store
4,48572,45191,BODEGA AURRERA VILLASUNCION,Big Store

Descriptive Statistics

In [15]:
big_df = pd.merge(df, df_clients, on='Cliente_ID', how='left')